@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./customcss/swiper-bundle.min.css");
@import url("./customcss/venobox.min.css");
@import url("./customcss/style.css");


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}